<!DOCTYPE html>
<html lang="ja">

<head>
  <title>Getter Setter</title>
  <meta charset="utf-8">
</head>

<body>
  <script src="https://unpkg.com/vue@next"></script>

  <div id="app">
    {{ a }}<br>
    <div v-for="e in a" v-if="f">
      {{ e }}
    </div>
    <input type="checkbox" v-model="f">
    <div>{{ f }}</div>
  </div>

  <script>
    const vm = Vue.createApp({
      data() {
        return {
          f: false,
          a: ['foo', 'bar', 'baz', 1, 2, 3],
        }
      },
    })
    vm.mount('#app')
  </script>
</body>

</html>
