<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Memory Number</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>

  <div id="app">
    <div class="main" style="display: none;" :style="{display: 'block'}">
      <h1 class="title">Memory Numbers</h1>
      <div v-if="env === 'develop'">
        <div>gameState: {{ gameState }}</div>
      </div>
      <div v-if="gameState=='settingTime'">
        <h3>設定</h3>
        <ul>
          <li>記憶するサイズ: <input v-model="arraySize" type="number"></li>
          <li>待機時間:
            <input v-model="preparationMinutes" type="number" min="0" max="60 * 24 * 30">分
            <input v-model="preparationSecond" type="number" min="0" max="59">秒
            合計<span>{{ preparationTime() }}</span>秒
          </li>
          <li>記憶時間:
            <input v-model="memoryMinutes" type="number" min="0" max="60 * 24 * 30">分
            <input v-model="memorySecond" type="number" min="0" max="59">秒
            合計<span>{{ memoryTime() }}</span>秒
          </li>
          <li>想起時間:
            <input v-model="recallMinutes" type="number" min="0" max="60 * 24 * 30">分
            <input v-model="recallSecond" type="number" min="0" max="59">秒
            合計<span>{{ recallTime() }}</span>秒
          </li>
        </ul>
        <button @click="start()">スタート</button>
        <button @click="reload()">リロード</button>
      </div>

      <div>
        設定:
        <div>記憶時間
          <span>{{ memoryMinutes }}</span>分 <span>{{ memorySecond }}</span>秒
        </div>
        <div>想起時間
          <span>{{ recallMinutes }}</span>分 <span>{{ recallSecond }}</span>秒
        </div>
      </div>

      <div class="timer" v-if="gameState === 'memoryTime'">
        記憶終了まで、あと {{ countDown }}秒
      </div>
      <div class="timer" v-else-if="gameState === 'recallTime'">
        リコール終了まで、あと {{ countDown }}秒
      </div>
      <div v-if="gameState === 'resultTime'">
        記憶終了です。得点は、{{ scoreMatrix() }}です。
      </div>

      <button v-if="gameState === 'memoryTime'" @click="endMemory()">メモリータイムを終了</button>
      <button v-else-if="gameState === 'recallTime'" @click="endRecall()">リコールタイムを終了</button>

      <ol v-if="gameState === 'memoryTime'">
        <li v-for="numbers of randomMatrix">
          <div class="number-row">
            <span v-for="number of numbers"
                  class="number">
              {{ number }}
            </span>
          </div>
        </li>
      </ol>

      <ol v-if="gameState === 'recallTime'">
        <li v-for="(numbers, row) of recallMatrix">
          <div class="number-row">
            <input
              v-for="(number, col) of numbers"
              v-model="number"
              @change="changeMatrixNumber(number, row, col)"
              @input="changeMatrixNumber(number, row, col)"
              @click="changeMatrixNumber(number, row, col)"
              type="number" min="0" max="9"
              class="number">
          </div>
        </li>
      </ol>

      <ol v-if="gameState === 'resultTime'">
        <li v-for="(numbers, row) of recallMatrix">
          <div class="number-row">
            <span v-for="(number, col) of numbers"
                  class="number">
              {{ randomMatrix[row][col] }}
            </span>
          </div>
          <div class="number-row">
            <span v-for="(number, col) of numbers">
              <input :value="number"
                     type="number"
                     min="0"
                     max="9"
                     maxlength="1"
                    class="number">
            </span>
          </div>
        </li>
      </ol>

      <div v-if="gameState !== 'settingTime'">
        <button @click="restart()" >リスタート</button>
        <button @click="reset()">リセット</button>
      </div>

      <div v-if="env === 'develop'">
        <div>デバッグ用:</div>
        リコールマトリックス:
        <div v-if="true">{{ recallMatrix }}</div>
        <div v-if="false">{{ recallNumbers }}</div>
        <div v-if="false">{{ score() }}</div>
      </div>
    </div>
  </div>

  <script src="main.js"></script>
</body>

</html>
