.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100px 100px 100px;
}

.box1 {
  background-color: blue;
}

.box2 {
  background-color: blanchedalmond;
}

.box3 {
  background-color: chocolate;
}

.box4 {
  background-color: darkcyan;
}

.box5 {
  background-color: gold;
}

.box6 {
  background-color: forestgreen;
}

.box7 {
  background-color: khaki;
}

.box8 {
  background-color: salmon;
}
