.boxes {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px 40px;
}

.box1 {
  background-color: blue;
}

.box2 {
  background-color: blanchedalmond;
}

.box3 {
  background-color: chocolate;
}

.box4 {
  background-color: darkcyan;
}

.box5 {
  background-color: gold;
}

.box6 {
  background-color: forestgreen;
}
