html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: khaki;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: salmon;
}

.main {
  height: 90%;
  background-color: burlywood;
}

.footer {
  position: fixed;
  height: 80%;;
  width: 100%;
  background-color: aqua;
}
